:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  color: var(--grayish-blue);
}

main {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 25vh;
  background-color: var(--white);
  border-radius: 10px;
}

section {
  padding: 1rem 1.5rem;
}

#perfume-img {
  max-height: 50vh;
  object-fit: fill;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 720px) {
  main {
    flex-direction: column;
    margin: 1vh 1vh;
  }

  #perfume-img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
}

#perfume {
  font-size: 0.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

#price-p {
  margin: 2rem 0;
}

#price,
#old-price {
  font-family: "Fraunces", serif;
  font-weight: 500;
}

#old-price {
  text-decoration: line-through;
}

#price {
  font-size: 2rem;
  color: var(--dark-cyan);
  margin-right: 1rem;
}

p {
  line-height: 1.5rem;
}

button {
  background-color: var(--dark-cyan);
  border: 0;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-weight: 800;
  font-size: 1rem;
}

button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

button > img {
  margin-right: 0.5rem;
}
